header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 16px 24px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.saved-link {
  padding: 8px 16px;
  background-color: #4caf50; /* Green color for contrast */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.saved-link:hover {
  background-color: #388e3c;
}


header .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-grow: 1;
  text-align: center;
}

header img {
  height: 50px;
  width: auto;
  border-radius: 8px;
}

header h2 {
  font-size: 28px;
  color: #333;
  margin: 0;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  white-space: nowrap;
}

header .logout-btn {
  padding: 8px 16px;
  background-color: #ff4b5c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-right: 70px;
}

header .logout-btn:hover {
  background-color: #e03d4c;
}

main {
  margin-top: 80px;
}
